$linkedinBlue: #0077B5;

body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.login-wrapper{
    background-color: whitesmoke;
    .login-wrapper-inner{
        margin-left: 550px;
    }
    .heading{
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        font-size: 2rem;
        font-weight: 500;
        margin: 100px 0px 30px 0px;
    }
    
    .para{
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: 100;
        margin: -30px 0px 0px 0px;
    }
}

.auth-inputs{
    margin: 30px 0px 30px 0px;
    .common-input{
        height: 45px;
        width: 400px;
        padding-left: 16px;
        border-radius: 10px;
        border: 1px solid rgb(171, 169, 169);
    }
     .common-input:hover{
        border: 1px solid rgb(0, 119, 181);
    }
    ::placeholder{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
    }
}

.login-btn{
    width: 420px;
    height: 45px;
    margin: 30px 0px 30px 0px;
    border-radius: 50px;
    border: 1px solid rgb(0, 119, 181);
    background-color: $linkedinBlue;
    cursor: pointer;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 1.20rem;
}

.login-btn:hover{
    background-color: #005887;
}

.linkedinLogo{
    width: 80px;
    display: flex;
    position: absolute;
    top: 20px;
    left: 20px;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    &:before {
      content: '';
      background: linear-gradient(to right, transparent, #818078, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: black;
  
      padding: 0 .5em;
      line-height: 1.5em;
      color: #818078;
      background-color: #fcfcfa;
    }
  }

.google-btn-container{
    margin-left: 550px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;

    .go-to-signup{
        margin-left: 110px;
    }
    .join-now{
        color: $linkedinBlue !important;
        font-weight: 100;
    }
}